<footer class="bg-trasnparent position-absolute w-100">
    <p class="lead mb-4 text-center text-primary" FW-BOLD>© 2024 Registro page. Todos los derechos reservados</p>
</footer>

<script src="/public//public/js/bootstrap.min.js"></script>
<script src="/public//public/js/bootstrap.bundle.min.js"></script>
<script src="/public//public/js/popper.min.js"></script>
<script src="/public//public/js/jquery-3.7.1.slim.min.js"></script>