<!-- views/pages/registro.ejs -->
<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/public//public/css/styles.css">
</head>
<body>
    <%- include('../partials/header') %>
    
    <form id="registroForm" class="form">
        <h1>Registro de Usuario</h1>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <button type="submit">Registrar</button>
    </form>

    <div id="mensaje" class="mensaje"></div>

    <%- include('../partials/footer') %>
</body>
</html>